#artists_options span{ background: url(../images/panel_icons/artists_options.png) no-repeat; }
#audio_options span{ background: url(../images/panel_icons/audio_options.png) no-repeat; }
#discography_options span{ background: url(../images/panel_icons/discography_options.png) no-repeat; }
#galleries_options span{ background: url(../images/panel_icons/galleries_options.png) no-repeat; }
#video_options span{ background: url(../images/panel_icons/video_options.png) no-repeat; }
#titles_options span{ background: url(../images/panel_icons/title_options.png) no-repeat; }